<div class="visualization-container">
    <div id="map">
        <div class="map-controls">
            <div class="control-group">
                <label for="weekSlider">Time Period</label>
                <div class="time-controls">
                    <input type="range" id="weekSlider" min="0" max="0" value="0">
                    <button class="all-time-btn">All Time</button>
                </div>
                <span id="weekDisplay">All Time</span>
            </div>
            <div class="control-group">
                <div class="permit-types-header">
                    <label>Permit Types</label>
                    <button class="toggle-permits-btn">Show/Hide</button>
                </div>
                <div class="permit-types-dropdown">
                    <div id="permitTypes"></div>
                </div>
            </div>
        </div>
    </div>
</div>
